*.iml
/.gradle/
/.gradle-home/
**/build/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
secrets.properties
*.secrets.properties
.idea

# Android/Gradle generated artifacts
*.apk
*.ap_
*.aab
*.dex
*.class
*.arsc.flat
*.flat
